.banner{
  background: #4EA0FF url(../img/pattern.png);
  width: 100%;
  height: 11rem;
  position: relative;
}

.banner img{
  width: 20%;
  position: absolute;
  bottom: 5%;
  left: 10px;
}

header h1{
  font-size: 3rem;
  margin-bottom: 0;
}

.write-by{
  font-weight: bold;
}

.gray{
  color: #808080;
}

.write-by span{
  color: #20A9E5;
}

.under-size{
  font-size: 12px;
  margin-bottom: 15px;
}

p span{
  background-color: #FFFF00;
}

