.banner{
  background: #4EA0FF url(../img/pattern.png);
  width: 100%;
  height: 11rem;
  position: relative;
}

.banner img{
  width: 20rem ;
  position: absolute;
  bottom: 5%;
  left: 10px;
}

h1{
  font-size: 3rem;
  margin-bottom: 0;
}

.write-by, .gray{
  font-weight: bold;
}

.gray{
  color: #808080;
}

.write-by span{
  color: #20A9E5;
}

.write-by span:hover{
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.30s;
}

.under-size{
  font-size: 12px;
  margin-bottom: 15px;
}

p span{
  background-color: #FFFF00;
  font-style: italic;
}

p span:hover{
  text-decoration: underline;
  font-weight: bolder;
  font-size: 17px;
  transition-duration: 1s; 
}

table{
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
}

th{
  background-color: #20A9E5;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #B1E5F2;
}


.articoli{
  width: 300px;
  height: 200px;
  color: white;
  background-size: cover;
  margin-top: 10px;
  cursor: pointer;
}

.articoli:hover{
  opacity: 0.8;
  box-shadow: 10px 10px 10px black;
  width: 320px;
  height: 210px;
  transition-duration: 00.5s;
}

.articoli:active{
  opacity: 0.5;
  box-shadow: 10px 10px 10px black;
  width: 300px;
  height: 200px;
  transition-duration: 00.15s;
}

.monitor{
  background-image: url(../img/monitor.jpg);
  
}

.grafico{
  background-image: url(../img/graph.jpg);
}
